
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Styling for manager assets */
#btn{
            background-color: #2CAE66;
            width: 6%;
            color: #FFFFFF;
            float: right;
            position: inherit;
            padding: 3px;
            margin-right: 70px;
            border-radius: 10%;

}

h1{
    font-size: 1.3rem;
    font-style: medium ;
    margin-top: 40px;
    margin-left: 45px;
    
}

hr{
    border: 1px ridge #2CAE66;
    margin: 10px;
}


.left,
.right {
    width: 25%;
}

.middle {
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

a:link{
    text-decoration: none;
}

.map-container {
    height: 100% !important; /* This makes the container height adapt to its parent */
    max-height: 800px !important; /* You can adjust the max height as needed */
  }
  
  .map-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%; /* Ensure the wrapper takes full height */
  }
  
  .map-container {
    position: relative;
    flex: 1; /* Allows the map container to grow and shrink with its parent */
    height: 400px; /* Adjust this as needed */
  }
  
  .map-container .leaflet-container {
    height: 100%; /* Ensure the Leaflet map takes the full height of its container */
  }
  

  .fixed-navbar {
    height: 60px; /* Fixed height for the navbar */
  }
  
  .navbar-logo {
    margin-top: -69px !important;
    margin-left: -100px !important;
  }
  